In [1]:
import pandas as pd
import numpy as np

# Read in data
da = pd.read_csv("HW1-data.csv")
da.head()

,User,"Gender (1 =F, 0=M)",260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,755,0,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,...,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
1,5277,0,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,...,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
2,1577,1,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,...,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
3,4388,0,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,...,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
4,1202,1,4.0,3.0,4.0,1.0,4.0,1.0,NaN,4.0,...,5.0,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN

In [37]:
# Calculate Average Rating and Reordering the data
#movie_list = list(da)[2:]
avg1 = da.drop(["User","Gender (1 =F, 0=M)"],axis=1).mean(axis=0).to_frame(name="avg_rating")
avg1 = avg1.sort_values(by="avg_rating",ascending=False)
avg1

                                                    avg_rating
318: Shawshank Redemption, The (1994)                 3.600000
260: Star Wars: Episode IV - A New Hope (1977)        3.266667
541: Blade Runner (1982)                              3.222222
1265: Groundhog Day (1993)                            3.166667
593: Silence of the Lambs, The (1991)                 3.062500
296: Pulp Fiction (1994)                              3.000000
527: Schindler's List (1993)                          3.000000
1210: Star Wars: Episode VI - Return of the Jed...    3.000000
34: Babe (1995)                                       3.000000
2028: Saving Private Ryan (1998)                      3.000000
3578: Gladiator (2000)                                2.916667
1198: Raiders of the Lost Ark (1981)                  2.909091
2396: Shakespeare in Love (1998)                      2.909091
2571: Matrix, The (1999)                              2.833333
2762: Sixth Sense, The (1999)                         2.833333
1: Toy Story (1995)                                   2.823529
780: Independence Day (ID4) (1996)                    2.769231
356: Forrest Gump (1994)                              2.700000
1259: Stand by Me (1986)                              2.636364
2916: Total Recall (1990)                             1.916667

In [39]:
count1 = da.drop(["User","Gender (1 =F, 0=M)"],axis=1).count(axis=0).to_frame(name="total_count")
count1 = count1.sort_values(by="total_count",ascending=False)
count1

                                                    total_count
1: Toy Story (1995)                                          17
593: Silence of the Lambs, The (1991)                        16
260: Star Wars: Episode IV - A New Hope (1977)               15
1210: Star Wars: Episode VI - Return of the Jed...           14
780: Independence Day (ID4) (1996)                           13
2762: Sixth Sense, The (1999)                                12
3578: Gladiator (2000)                                       12
527: Schindler's List (1993)                                 12
2571: Matrix, The (1999)                                     12
1265: Groundhog Day (1993)                                   12
2916: Total Recall (1990)                                    12
1198: Raiders of the Lost Ark (1981)                         11
2396: Shakespeare in Love (1998)                             11
1259: Stand by Me (1986)                                     11
296: Pulp Fiction (1994)                                     11
2028: Saving Private Ryan (1998)                             11
318: Shawshank Redemption, The (1994)                        10
356: Forrest Gump (1994)                                     10
34: Babe (1995)                                              10
541: Blade Runner (1982)                                      9

In [46]:
# Count number 0f 4+ ratings
count2 = da[da >= 4].drop(["User","Gender (1 =F, 0=M)"],axis=1).count(axis=0).to_frame(name="high_rating")
count2 = pd.merge(count2,count1,left_index = True, right_index = True)
count2["high_rating_percent"] = count2["high_rating"] / count2["total_count"]
count2.sort_values(by="high_rating_percent",ascending = False)

,high_rating,total_count,high_rating_percent
"318: Shawshank Redemption, The (1994)",7,10,0.700000
260: Star Wars: Episode IV - A New Hope (1977),8,15,0.533333
3578: Gladiator (2000),6,12,0.500000
541: Blade Runner (1982),4,9,0.444444
"593: Silence of the Lambs, The (1991)",7,16,0.437500
"2571: Matrix, The (1999)",5,12,0.416667
1265: Groundhog Day (1993),5,12,0.416667
34: Babe (1995),4,10,0.400000
296: Pulp Fiction (1994),4,11,0.363636
1259: Stand by Me (1986),4,11,0.363636
2028: Saving Private Ryan (1998),4,11,0.363636
1210: Star Wars: Episode VI - Return of the Jedi (1983),5,14,0.357143
1: Toy Story (1995),6,17,0.352941
527: Schindler's List (1993),4,12,0.333333
"2762: Sixth Sense, The (1999)",4,12,0.333333
780: Independence Day (ID4) (1996),4,13,0.307692
356: Forrest Gump (1994),3,10,0.300000
1198: Raiders of the Lost Ark (1981),3,11,0.272727
2396: Shakespeare in Love (1998),3,11,0.272727
2916: Total Recall (1990),1,12,0.083333

In [75]:
count3 = da[~pd.isnull(da["1: Toy Story (1995)"])].drop(["User","Gender (1 =F, 0=M)"],axis=1)\
    .count(axis=0).to_frame(name="cor_rating").reset_index()

count3["total_count"] = 17
count3["index_num"] = count3["index"].str.split(':').str[0].astype(int)
count3["cor_ratio"] = count3["cor_rating"] / count3["total_count"]
count3.sort_values(by=["cor_ratio","index_num"],ascending = [False,True])

,index,cor_rating,total_count,index_num,cor_ratio
6,1: Toy Story (1995),17,17,1,1.000000
0,260: Star Wars: Episode IV - A New Hope (1977),14,17,260,0.823529
4,"593: Silence of the Lambs, The (1991)",13,17,593,0.764706
12,780: Independence Day (ID4) (1996),13,17,780,0.764706
1,1210: Star Wars: Episode VI - Return of the Je...,13,17,1210,0.764706
14,1265: Groundhog Day (1993),11,17,1265,0.647059
11,2916: Total Recall (1990),11,17,2916,0.647059
8,296: Pulp Fiction (1994),10,17,296,0.588235
16,527: Schindler's List (1993),10,17,527,0.588235
17,"2762: Sixth Sense, The (1999)",10,17,2762,0.588235
18,1198: Raiders of the Lost Ark (1981),9,17,1198,0.529412
9,1259: Stand by Me (1986),9,17,1259,0.529412
15,"2571: Matrix, The (1999)",9,17,2571,0.529412
5,3578: Gladiator (2000),9,17,3578,0.529412
19,34: Babe (1995),8,17,34,0.470588
3,"318: Shawshank Redemption, The (1994)",8,17,318,0.470588
7,2028: Saving Private Ryan (1998),8,17,2028,0.470588
10,2396: Shakespeare in Love (1998),8,17,2396,0.470588
2,356: Forrest Gump (1994),7,17,356,0.411765
13,541: Blade Runner (1982),7,17,541,0.411765

In [151]:
# Average Rating by gender
rating_by_gender = da.drop(["User"],axis = 1).groupby("Gender (1 =F, 0=M)").mean().T
rating_by_gender["diff"] = rating_by_gender[1] - rating_by_gender[0]
rating_by_gender.sort_values(by="diff",ascending = False)

"Gender (1 =F, 0=M)",0,1,diff
2396: Shakespeare in Love (1998),2.142857,4.250000,2.107143
34: Babe (1995),2.000000,3.428571,1.428571
296: Pulp Fiction (1994),2.625000,4.000000,1.375000
1: Toy Story (1995),2.300000,3.571429,1.271429
356: Forrest Gump (1994),2.250000,3.000000,0.750000
541: Blade Runner (1982),3.000000,3.500000,0.500000
"318: Shawshank Redemption, The (1994)",3.400000,3.800000,0.400000
"2762: Sixth Sense, The (1999)",2.666667,3.000000,0.333333
260: Star Wars: Episode IV - A New Hope (1977),3.125000,3.428571,0.303571
3578: Gladiator (2000),2.833333,3.000000,0.166667
1210: Star Wars: Episode VI - Return of the Jedi (1983),3.000000,3.000000,0.000000
780: Independence Day (ID4) (1996),2.857143,2.666667,-0.190476
2028: Saving Private Ryan (1998),3.142857,2.750000,-0.392857
2916: Total Recall (1990),2.200000,1.714286,-0.485714
1259: Stand by Me (1986),3.000000,2.428571,-0.571429
"593: Silence of the Lambs, The (1991)",3.333333,2.714286,-0.619048
1265: Groundhog Day (1993),3.500000,2.833333,-0.666667
"2571: Matrix, The (1999)",3.142857,2.400000,-0.742857
527: Schindler's List (1993),3.500000,2.500000,-1.000000
1198: Raiders of the Lost Ark (1981),3.666667,2.000000,-1.666667

In [99]:
felmale_avg = da[da["Gender (1 =F, 0=M)"] == 1].drop(["User","Gender (1 =F, 0=M)"],axis = 1).stack().mean()
male_avg =  da[da["Gender (1 =F, 0=M)"] == 0].drop(["User","Gender (1 =F, 0=M)"],axis = 1).stack().mean()
print("Female Average Rating:{}, Male Average Rating:{}".format(felmale_avg,male_avg))

Female Average Rating:2.9473684210526314, Male Average Rating:2.905511811023622

In [155]:
# Get 4+ rating by gender
from IPython.display import display
def myCount(x):
    return np.sum(np.where(x>=4,1,0))
    
high_count = da.drop(["User"],axis=1).groupby("Gender (1 =F, 0=M)").agg([myCount]).T.reset_index()\
    .drop("level_1",axis = 1).rename(columns={"level_0" : "movie",1: "Female_High",0:"Male_High"})\
    .reset_index()[["movie","Male_High","Female_High"]]

count_by_gender = da.drop(["User"],axis = 1).groupby("Gender (1 =F, 0=M)").count().T\
    .reset_index().rename(columns = {"index":"movie",0: "Male_Count",1:"Female_Count"})

m1 = pd.merge(high_count,count_by_gender,left_on = "movie",right_on = "movie")
m1["Male_High_Percent"] = m1["Male_High"] / m1["Male_Count"]
m1["Female_High_Percent"] = m1["Female_High"] / m1["Female_Count"]
m1["diff"] = m1["Female_High_Percent"] - m1["Male_High_Percent"]
display(m1.sort_values(by="Male_High_Percent",ascending = False))
display(m1.sort_values(by="Female_High_Percent",ascending = False))
display(m1.sort_values(by="diff",ascending = False))

"Gender (1 =F, 0=M)",movie,Male_High,Female_High,Male_Count,Female_Count,Male_High_Percent,Female_High_Percent,diff
3,"318: Shawshank Redemption, The (1994)",3.0,4.0,5,5,0.600000,0.800000,0.200000
15,"2571: Matrix, The (1999)",4.0,1.0,7,5,0.571429,0.200000,-0.371429
4,"593: Silence of the Lambs, The (1991)",5.0,2.0,9,7,0.555556,0.285714,-0.269841
0,260: Star Wars: Episode IV - A New Hope (1977),4.0,4.0,8,7,0.500000,0.571429,0.071429
14,1265: Groundhog Day (1993),3.0,2.0,6,6,0.500000,0.333333,-0.166667
16,527: Schindler's List (1993),3.0,1.0,6,6,0.500000,0.166667,-0.333333
5,3578: Gladiator (2000),3.0,3.0,6,6,0.500000,0.500000,0.000000
18,1198: Raiders of the Lost Ark (1981),3.0,0.0,6,5,0.500000,0.000000,-0.500000
17,"2762: Sixth Sense, The (1999)",2.0,2.0,6,6,0.333333,0.333333,0.000000
7,2028: Saving Private Ryan (1998),2.0,2.0,7,4,0.285714,0.500000,0.214286
12,780: Independence Day (ID4) (1996),2.0,2.0,7,6,0.285714,0.333333,0.047619
9,1259: Stand by Me (1986),1.0,3.0,4,7,0.250000,0.428571,0.178571
1,1210: Star Wars: Episode VI - Return of the Je...,2.0,3.0,8,6,0.250000,0.500000,0.250000
8,296: Pulp Fiction (1994),2.0,2.0,8,3,0.250000,0.666667,0.416667
6,1: Toy Story (1995),2.0,4.0,10,7,0.200000,0.571429,0.371429
11,2916: Total Recall (1990),1.0,0.0,5,7,0.200000,0.000000,-0.200000
13,541: Blade Runner (1982),1.0,3.0,5,4,0.200000,0.750000,0.550000
10,2396: Shakespeare in Love (1998),0.0,3.0,7,4,0.000000,0.750000,0.750000
2,356: Forrest Gump (1994),0.0,3.0,4,6,0.000000,0.500000,0.500000
19,34: Babe (1995),0.0,4.0,3,7,0.000000,0.571429,0.571429

"Gender (1 =F, 0=M)",movie,Male_High,Female_High,Male_Count,Female_Count,Male_High_Percent,Female_High_Percent,diff
3,"318: Shawshank Redemption, The (1994)",3.0,4.0,5,5,0.600000,0.800000,0.200000
10,2396: Shakespeare in Love (1998),0.0,3.0,7,4,0.000000,0.750000,0.750000
13,541: Blade Runner (1982),1.0,3.0,5,4,0.200000,0.750000,0.550000
8,296: Pulp Fiction (1994),2.0,2.0,8,3,0.250000,0.666667,0.416667
6,1: Toy Story (1995),2.0,4.0,10,7,0.200000,0.571429,0.371429
0,260: Star Wars: Episode IV - A New Hope (1977),4.0,4.0,8,7,0.500000,0.571429,0.071429
19,34: Babe (1995),0.0,4.0,3,7,0.000000,0.571429,0.571429
5,3578: Gladiator (2000),3.0,3.0,6,6,0.500000,0.500000,0.000000
7,2028: Saving Private Ryan (1998),2.0,2.0,7,4,0.285714,0.500000,0.214286
1,1210: Star Wars: Episode VI - Return of the Je...,2.0,3.0,8,6,0.250000,0.500000,0.250000
2,356: Forrest Gump (1994),0.0,3.0,4,6,0.000000,0.500000,0.500000
9,1259: Stand by Me (1986),1.0,3.0,4,7,0.250000,0.428571,0.178571
12,780: Independence Day (ID4) (1996),2.0,2.0,7,6,0.285714,0.333333,0.047619
14,1265: Groundhog Day (1993),3.0,2.0,6,6,0.500000,0.333333,-0.166667
17,"2762: Sixth Sense, The (1999)",2.0,2.0,6,6,0.333333,0.333333,0.000000
4,"593: Silence of the Lambs, The (1991)",5.0,2.0,9,7,0.555556,0.285714,-0.269841
15,"2571: Matrix, The (1999)",4.0,1.0,7,5,0.571429,0.200000,-0.371429
16,527: Schindler's List (1993),3.0,1.0,6,6,0.500000,0.166667,-0.333333
11,2916: Total Recall (1990),1.0,0.0,5,7,0.200000,0.000000,-0.200000
18,1198: Raiders of the Lost Ark (1981),3.0,0.0,6,5,0.500000,0.000000,-0.500000

"Gender (1 =F, 0=M)",movie,Male_High,Female_High,Male_Count,Female_Count,Male_High_Percent,Female_High_Percent,diff
10,2396: Shakespeare in Love (1998),0.0,3.0,7,4,0.000000,0.750000,0.750000
19,34: Babe (1995),0.0,4.0,3,7,0.000000,0.571429,0.571429
13,541: Blade Runner (1982),1.0,3.0,5,4,0.200000,0.750000,0.550000
2,356: Forrest Gump (1994),0.0,3.0,4,6,0.000000,0.500000,0.500000
8,296: Pulp Fiction (1994),2.0,2.0,8,3,0.250000,0.666667,0.416667
6,1: Toy Story (1995),2.0,4.0,10,7,0.200000,0.571429,0.371429
1,1210: Star Wars: Episode VI - Return of the Je...,2.0,3.0,8,6,0.250000,0.500000,0.250000
7,2028: Saving Private Ryan (1998),2.0,2.0,7,4,0.285714,0.500000,0.214286
3,"318: Shawshank Redemption, The (1994)",3.0,4.0,5,5,0.600000,0.800000,0.200000
9,1259: Stand by Me (1986),1.0,3.0,4,7,0.250000,0.428571,0.178571
0,260: Star Wars: Episode IV - A New Hope (1977),4.0,4.0,8,7,0.500000,0.571429,0.071429
12,780: Independence Day (ID4) (1996),2.0,2.0,7,6,0.285714,0.333333,0.047619
5,3578: Gladiator (2000),3.0,3.0,6,6,0.500000,0.500000,0.000000
17,"2762: Sixth Sense, The (1999)",2.0,2.0,6,6,0.333333,0.333333,0.000000
14,1265: Groundhog Day (1993),3.0,2.0,6,6,0.500000,0.333333,-0.166667
11,2916: Total Recall (1990),1.0,0.0,5,7,0.200000,0.000000,-0.200000
4,"593: Silence of the Lambs, The (1991)",5.0,2.0,9,7,0.555556,0.285714,-0.269841
16,527: Schindler's List (1993),3.0,1.0,6,6,0.500000,0.166667,-0.333333
15,"2571: Matrix, The (1999)",4.0,1.0,7,5,0.571429,0.200000,-0.371429
18,1198: Raiders of the Lost Ark (1981),3.0,0.0,6,5,0.500000,0.000000,-0.500000

In [158]:
print("Female High Rating:{}, Male High Rating:{}".format(sum(m1["Female_High"]) / sum(m1["Female_Count"]),
                                                                sum(m1["Male_High"]) / sum(m1["Male_Count"])))

Female High Rating:0.42105263157894735, Male High Rating:0.33858267716535434