In [5]:
import pandas as pd
import numpy as np
da = pd.read_csv("data2.csv",index_col = 0)
da

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,num-attr,User_1,User_2
doc1,1,0,1,0,1,1,0,0,0,1,5,1.0,-1.0
doc2,0,1,1,1,0,0,0,1,0,0,4,-1.0,1.0
doc3,0,0,0,1,1,1,0,0,0,0,3,NaN,NaN
doc4,0,0,1,1,0,0,1,1,0,0,4,NaN,1.0
doc5,0,1,0,0,0,0,0,0,1,1,3,NaN,NaN
doc6,1,0,0,1,0,0,0,0,0,0,2,1.0,NaN
doc7,0,0,0,0,0,0,0,1,0,1,2,NaN,NaN
doc8,0,0,1,1,0,0,1,0,0,1,4,NaN,NaN
doc9,0,0,0,0,0,1,0,0,1,0,2,NaN,NaN
doc10,0,1,0,0,1,0,1,0,0,0,3,NaN,NaN
doc11,0,0,1,0,1,0,0,0,1,0,3,NaN,NaN
doc12,1,0,0,0,0,1,1,0,0,0,3,NaN,-1.0
doc13,0,0,1,1,1,0,0,1,0,0,4,NaN,NaN
doc14,0,1,1,1,0,0,0,0,1,0,4,NaN,NaN
doc15,0,0,0,1,0,1,1,1,0,0,4,NaN,NaN
doc16,1,0,0,0,0,1,0,0,1,0,3,1.0,NaN
doc17,0,1,1,1,0,0,0,1,0,0,4,NaN,1.0
doc18,0,0,0,1,0,0,0,0,1,0,2,NaN,NaN
doc19,0,1,1,0,1,0,1,0,0,1,5,-1.0,NaN
doc20,0,0,1,1,0,0,1,0,1,0,4,NaN,NaN

In [28]:
# Get User Profiles
profiles = pd.DataFrame(np.dot(da.drop(["User_1","User_2","num-attr"],axis = 1).T,da[["User_1","User_2"]].fillna(0)),
             columns = ["profile_1","profile_2"],index = list(da.drop(["User_1","User_2","num-attr"],axis = 1)))
profiles

           profile_1  profile_2
baseball         3.0       -2.0
economics       -2.0        2.0
politics        -1.0        2.0
Europe           0.0        3.0
Asia             0.0       -1.0
soccer           2.0       -2.0
war             -1.0        0.0
security        -1.0        3.0
shopping         1.0        0.0
family           0.0       -1.0

In [77]:
# Get User Profiles
ratings = pd.DataFrame(np.dot(da.drop(["User_1","User_2","num-attr"],axis = 1),profiles),
                       columns = ["rating_1","rating_2"],index = da.index
             )
ratings.sort_values(by = "rating_1",ascending = False)

       rating_1  rating_2
doc16       6.0      -4.0
doc1        4.0      -4.0
doc12       4.0      -4.0
doc9        3.0      -2.0
doc6        3.0       1.0
doc3        2.0       0.0
doc18       1.0       3.0
doc15       0.0       4.0
doc11       0.0       1.0
doc7       -1.0       2.0
doc5       -1.0       1.0
doc20      -1.0       5.0
doc8       -2.0       4.0
doc13      -2.0       7.0
doc14      -2.0       7.0
doc10      -3.0       1.0
doc4       -3.0       8.0
doc2       -4.0      10.0
doc17      -4.0      10.0
doc19      -4.0       2.0

In [51]:
ratings[ratings.rating_2 < 0].shape[0]

4

In [69]:
##### Part II Standardize the weight ######
weighted_features = da.drop(["User_1","User_2","num-attr"],axis = 1).divide(np.sqrt(da["num-attr"]),axis = 0)
weighted_features

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family
doc1,0.447214,0.000000,0.447214,0.000000,0.447214,0.447214,0.000000,0.000000,0.000000,0.447214
doc2,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000
doc3,0.000000,0.000000,0.000000,0.577350,0.577350,0.577350,0.000000,0.000000,0.000000,0.000000
doc4,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000
doc5,0.000000,0.577350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.577350,0.577350
doc6,0.707107,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
doc7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.707107
doc8,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000,0.500000
doc9,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.707107,0.000000
doc10,0.000000,0.577350,0.000000,0.000000,0.577350,0.000000,0.577350,0.000000,0.000000,0.000000
doc11,0.000000,0.000000,0.577350,0.000000,0.577350,0.000000,0.000000,0.000000,0.577350,0.000000
doc12,0.577350,0.000000,0.000000,0.000000,0.000000,0.577350,0.577350,0.000000,0.000000,0.000000
doc13,0.000000,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000
doc14,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000
doc15,0.000000,0.000000,0.000000,0.500000,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000
doc16,0.577350,0.000000,0.000000,0.000000,0.000000,0.577350,0.000000,0.000000,0.577350,0.000000
doc17,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000
doc18,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000
doc19,0.000000,0.447214,0.447214,0.000000,0.447214,0.000000,0.447214,0.000000,0.000000,0.447214
doc20,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.500000,0.000000,0.500000,0.000000

In [73]:
# Get User Profiles
weighted_profiles = pd.DataFrame(np.dot(weighted_features.T,da[["User_1","User_2"]].fillna(0)),
             columns = ["profile_1","profile_2"],index = list(da.drop(["User_1","User_2","num-attr"],axis = 1)))
weighted_profiles

           profile_1  profile_2
baseball    1.731671  -1.024564
economics  -0.947214   1.000000
politics   -0.500000   1.052786
Europe      0.207107   1.500000
Asia        0.000000  -0.447214
soccer      1.024564  -1.024564
war        -0.447214  -0.077350
security   -0.500000   1.500000
shopping    0.577350   0.000000
family      0.000000  -0.447214

In [76]:
ratings = pd.DataFrame(np.dot(weighted_features,weighted_profiles),
                       columns = ["rating_1","rating_2"],index = da.index
             )
ratings.sort_values(by = "rating_1",ascending = False)

       rating_1  rating_2
doc16  1.924646 -1.183064
doc6   1.370923  0.336184
doc12  1.333114 -1.227723
doc9   1.132724 -0.724476
doc1   1.009019 -0.845577
doc3   0.711105  0.016294
doc18  0.554695  1.060660
doc15  0.142229  0.949043
doc11  0.044658  0.349628
doc20 -0.081378  1.237718
doc5  -0.213541  0.319151
doc14 -0.331378  1.776393
doc7  -0.353553  0.744432
doc8  -0.370053  1.014111
doc13 -0.396447  1.802786
doc4  -0.620053  1.987718
doc10 -0.805073  0.274493
doc19 -0.847214  0.483442
doc2  -0.870053  2.526393
doc17 -0.870053  2.526393

In [78]:
###### Part III Applying IDF ####
idf = da[da>0]

baseball     20
economics    20
politics     20
Europe       20
Asia         20
soccer       20
war          20
security     20
shopping     20
family       20
num-attr     20
User_1        5
User_2        5
dtype: int64

In [84]:
IDF = 1/da[da>0].drop(["User_1","User_2","num-attr"],axis = 1).count()

In [89]:
ratings = pd.DataFrame(np.dot(weighted_features*IDF,weighted_profiles),
                       columns = ["rating_1","rating_2"],index = da.index
             )
#ratings.sort_values(by = "rating_1",ascending = False)
ratings

       rating_1  rating_2
doc1   0.247612 -0.217167
doc2  -0.136187  0.329154
doc3   0.109459 -0.062892
doc4  -0.089197  0.240296
doc5  -0.043527  0.044585
doc6   0.319432 -0.084695
doc7  -0.058926  0.113531
doc8  -0.047530  0.070575
doc9   0.179067 -0.120746
doc10 -0.128031  0.046812
doc11  0.018752  0.017750
doc12  0.311648 -0.252852
doc13 -0.057253  0.208553
doc14 -0.053281  0.204154
doc15  0.021184  0.102276
doc16  0.396153 -0.246472
doc17 -0.136187  0.329154
doc18  0.071635  0.096424
doc19 -0.121533  0.043343
doc20 -0.006291  0.115296

In [86]:
weighted_features * IDF

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family
doc1,0.111803,0.000000,0.044721,0.000000,0.074536,0.074536,0.000000,0.000000,0.000000,0.089443
doc2,0.000000,0.083333,0.050000,0.045455,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000
doc3,0.000000,0.000000,0.000000,0.052486,0.096225,0.096225,0.000000,0.000000,0.000000,0.000000
doc4,0.000000,0.000000,0.050000,0.045455,0.000000,0.000000,0.071429,0.083333,0.000000,0.000000
doc5,0.000000,0.096225,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.082479,0.115470
doc6,0.176777,0.000000,0.000000,0.064282,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
doc7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.117851,0.000000,0.141421
doc8,0.000000,0.000000,0.050000,0.045455,0.000000,0.000000,0.071429,0.000000,0.000000,0.100000
doc9,0.000000,0.000000,0.000000,0.000000,0.000000,0.117851,0.000000,0.000000,0.101015,0.000000
doc10,0.000000,0.096225,0.000000,0.000000,0.096225,0.000000,0.082479,0.000000,0.000000,0.000000
doc11,0.000000,0.000000,0.057735,0.000000,0.096225,0.000000,0.000000,0.000000,0.082479,0.000000
doc12,0.144338,0.000000,0.000000,0.000000,0.000000,0.096225,0.082479,0.000000,0.000000,0.000000
doc13,0.000000,0.000000,0.050000,0.045455,0.083333,0.000000,0.000000,0.083333,0.000000,0.000000
doc14,0.000000,0.083333,0.050000,0.045455,0.000000,0.000000,0.000000,0.000000,0.071429,0.000000
doc15,0.000000,0.000000,0.000000,0.045455,0.000000,0.083333,0.071429,0.083333,0.000000,0.000000
doc16,0.144338,0.000000,0.000000,0.000000,0.000000,0.096225,0.000000,0.000000,0.082479,0.000000
doc17,0.000000,0.083333,0.050000,0.045455,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000
doc18,0.000000,0.000000,0.000000,0.064282,0.000000,0.000000,0.000000,0.000000,0.101015,0.000000
doc19,0.000000,0.074536,0.044721,0.000000,0.074536,0.000000,0.063888,0.000000,0.000000,0.089443
doc20,0.000000,0.000000,0.050000,0.045455,0.000000,0.000000,0.071429,0.000000,0.071429,0.000000

In [90]:
IDF

baseball     0.250000
economics    0.166667
politics     0.100000
Europe       0.090909
Asia         0.166667
soccer       0.166667
war          0.142857
security     0.166667
shopping     0.142857
family       0.200000
dtype: float64